* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Barlow"; }
  body .bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: -10;
    background-color: #eef3f6;
    border-radius: 0 0 0 55px; }
  body .menu {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem; }
    body .menu__hemberger {
      position: absolute;
      left: 90%; }
      body .menu__hemberger__line--1, body .menu__hemberger__line--2, body .menu__hemberger__line--3 {
        transition-duration: 0.3s; }
      body .menu__hemberger #chick {
        position: absolute;
        width: 25px;
        height: 25px;
        z-index: 2;
        cursor: pointer;
        opacity: 0; }
        body .menu__hemberger #chick:checked ~ .menu__hemberger__list {
          transform: scale(1.15); }
      body .menu__hemberger__list {
        letter-spacing: 2px;
        font-size: 18px;
        padding: 1rem;
        text-transform: uppercase;
        box-shadow: 0px 2px 5px #a0a1ac;
        background-color: white;
        position: absolute;
        top: 6rem;
        left: -1150%;
        z-index: 1;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition-duration: 0.3s; }
        body .menu__hemberger__list ul {
          width: 100%;
          text-align: center; }
          body .menu__hemberger__list ul .login {
            margin-top: 1rem;
            padding: 1.5rem 0rem 1rem;
            border-top: 1px solid #a0a1ac; }
            body .menu__hemberger__list ul .login a {
              color: #a0a1ac; }
          body .menu__hemberger__list ul li {
            width: 100%;
            list-style: none;
            padding: .5rem 0rem 1rem; }
            body .menu__hemberger__list ul li a {
              text-decoration: none;
              color: #242942;
              font-family: "Barlow Condensed";
              font-weight: bold; }
      body .menu__hemberger__line {
        width: 25px;
        height: 3px;
        background-color: #5b5f71;
        margin: .25rem auto; }
  body .headings {
    overflow: hidden;
    display: flex;
    flex-direction: column; }
    body .headings__illustration {
      margin-bottom: 2rem;
      padding: 1rem; }
      body .headings__illustration img {
        width: 145%; }
    body .headings__discription__title1 {
      font-family: "Barlow Condensed";
      padding: 1rem;
      color: #a0a1ac;
      text-transform: uppercase;
      letter-spacing: 3px; }
      body .headings__discription__title1 span {
        text-align: center;
        font-weight: bold;
        background-color: #242942;
        color: white;
        padding: .2rem .6rem;
        border-radius: 50px; }
    body .headings__discription__title2 {
      font-family: "Barlow Condensed";
      padding: 1rem;
      color: #242942;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 40px; }
    body .headings__discription__paragraphe {
      padding: 1rem;
      color: #5b5f71;
      font-size: 22px; }
    body .headings__discription__sub {
      text-transform: uppercase;
      padding: 1rem;
      font-size: 18px;
      color: #a0a1ac;
      font-family: "Barlow Condensed";
      word-spacing: 3px; }
      body .headings__discription__sub input {
        letter-spacing: 1.5px;
        font-family: "Barlow Condensed";
        text-transform: uppercase;
        background-color: #ff5c5c;
        border: none;
        color: #eef3f6;
        padding: .7rem 1rem;
        border-radius: 5px; }
      body .headings__discription__sub span {
        padding: 0rem .7rem 0rem; }
