@mixin  desktop {
    @media only screen and (min-width:1440px){
        @content;
        
    }

    
}
// variables
$Red: hsl(0, 100%, 68%);
$Dark-Blue: hsl(230, 29%, 20%);
$Dark-GrayishBlue: hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-GrayishBlue: hsl(207, 33%, 95%);
// variables-end²

*{
    margin: 0px;
    padding: 0px;
}

body {

    font-family: 'Barlow', ;
    @include desktop(){
           padding: 1rem 0rem 0rem 5rem;         
    }
    .bg{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        z-index: -10;
        background-color: $Light-GrayishBlue;
        border-radius: 0 0 0 55px;
       
    }
    .menu{
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
        
        &__hemberger{
            position: absolute;
            left: 90%;
            &__line--1,&__line--2,&__line--3{
                transition-duration: 0.3s;
            }
                #chick{
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    z-index: 2;
                    cursor: pointer;
                    opacity:0;
                    &:checked~.menu__hemberger__list{
                        transform: scale(1.1);
                }
          

                
               
            
            }
            &__list{
                letter-spacing: 2px;
                font-size: 18px;
                padding: 1rem;
                text-transform: uppercase;
                box-shadow: 0px 2px 5px $Grayish-Blue;
                background-color: white;
                position: absolute;
                top: 6rem;
                left: -1150%;
                z-index: 1;
                width: 70vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: scale(0);
                transition-duration: 0.3s;
                @include desktop{
                    flex-direction: row;
                    background-color: transparent;
                    position: unset;;
        
                }
                ul{ 
                    width: 100%;
    
                    text-align: center;
                    .login{
                        margin-top: 1rem;
                        padding: 1.5rem 0rem 1rem;
                        border-top: 1px solid $Grayish-Blue;
                        a{
                            color: $Grayish-Blue;
                        }
                        
                    }
                    li{
                    width: 100%;
                    list-style: none;
                    padding: .5rem 0rem 1rem;
                    a{
                        text-decoration: none;
                        color: $Dark-Blue;
                        font-family: 'Barlow Condensed', ;
                        font-weight: bold;
                       
                    }
                   
                }
                
                }
            }
            &__line{
                width: 25px;
                height: 3px;
                background-color: $Dark-GrayishBlue;
                margin: .25rem auto;
            }
            
        }
    }
    .headings{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row-reverse;

        }
        &__illustration{
            margin-bottom: 2rem;
            padding: 1rem;
            @include desktop(){
                margin-top: 5rem;  
              }
            img{
                width: 145%;
                @include desktop(){
                    width: 140%;

                }
            }
        }
        &__discription{
            &__title1{
                font-family: 'Barlow Condensed', ;
                padding: 1rem;
                color: $Grayish-Blue;
                text-transform: uppercase;
                letter-spacing: 3px;
                @include desktop(){
                    font-size: 24px;

                }
                
                span{
                    text-align: center;
                    font-weight: bold;
                    background-color: $Dark-Blue;
                    color: white;
                    padding: .2rem .6rem;
                    border-radius: 50px;
                }
                @include desktop(){
                  margin-top: 8rem;  
                }
            }
            &__title2{
                font-family: 'Barlow Condensed', ;
                padding: 1rem;
                color: $Dark-Blue;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 40px;
                @include desktop(){
                    font-size: 70px;

                }
                
            }
            &__paragraphe{
                padding: 1rem;
                color: $Dark-GrayishBlue;
                font-size: 22px;
                @include desktop(){
                    font-size: 28px;
                    max-width: 450px;
                }
            }
            &__sub{
                text-transform: uppercase;
                padding: 1rem;
                font-size: 18px;
                color: $Grayish-Blue;
                font-family: 'Barlow Condensed', ;
                word-spacing: 3px;
                @include desktop(){
                    font-size: 24px;

                }
                input{
                    letter-spacing: 1.5px;
                    font-family: 'Barlow Condensed', ;
                    text-transform: uppercase;
                    background-color: $Red;
                    border: none;
                    color: $Light-GrayishBlue;
                    padding: .7rem 1rem;
                    border-radius: 5px;

                }
                span{
                    padding: 0rem .7rem 0rem;

                }

            }

        }
    }

}
